@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.mtl-fast-rewind:before {
  content: '\e020';
}
.mtl-fast-forward:before {
  content: '\e01f';
}
.mtl-skip-next:before {
  content: '\e044';
}
.mtl-skip-previous:before {
  content: '\e045';
}
