<section id="left-column">
  <article id="about-uems">
    <h1 class="article-header">About UEMS</h1>
    <p>The European Union of Medical Specialists (Union Européenne des Médecins Spécialistes – UEMS) is a
      non-governmental organisation representing national associations of medical specialists in the European Union and
      in associated countries.</p> <br>
    <p>The UEMS is representing National Assocations of Medical Specialists and operate at the European level to defend
      and promote the interests of Medical Specialists.</p> <br>
    <p>The UEMS is made up of 37 National Member Associations which altogether compose theUEMS Council which is the
      organisation's General Assembly.</p> <br>
    <p>In 1962, the UEMS created Specialist Sections to promote and defend the interest of the different Specialties at
      the European level. Currently, 42 Specialist Sections, 10 Multidisciplinary Joint Committees and over 20 Divisions
      are active in this regard</p> <br>
  </article>
  <div id="groupPicture"></div>
  <article id="about-section">
    <h1 class="article-header">Endocrinology at UEMS</h1>
    <small class="subheader">Monospecialist Section of Endocrinology of UEMS and European Board of Endocrinology</small>
    <p>The specialty of Clinical Endocrinology, Diabetes and Metabolism (including Nutrition,
    Andrology &amp; Reproductive Medicine, but henceforward abbreviated to Endocrinology and Diabetes) is that branch of
    Medicine concerned principally with structural and functional disorders of the endocrine glands, of hormone
    action and the metabolic consequences thereof.</p>
  </article>
  <!--TODO: Executive committee-->

</section>
<aside id="right-column">
  <uems-article
    id="cme"
    header="CME"
    subheader="Continuing Medical Education & Professional Development"
    description="The objectives of UEMS include the promotion of quality patient care through the harmonisation and improvement
        in the quality of specialists' medical care throughout the European Union and the encouragement and facilitation of CME for European specialists. "
    [files]="cmeFiles"
  ></uems-article>

  <uems-article
    id="curriculum"
    header="Curriculum"
    [links]="curriculumfiles"
  ></uems-article>

  <uems-article
    id="cesma"
    header="Cesma / Board exam"
    subheader="European examination in endocrinology"
    [links]="cesmaLinks"
  ></uems-article>
  <uems-article
    id="e-learning"
    header="E-learning"
    description="The European Endocrine Update (EEU) is an e-learning tool for continued clinical formation in endocrinology, diabetes and metabolism that addresses the European specialists of the Countries that are part of the UEMS/European Board of Endocrinology and particularly those who may not be able to regularly attend the major European meetings"
    [links]="eLearningLinks"
    [files]="eLearningFiles"
  ></uems-article>
  <uems-article
    id="eee-grants"
    header="EEE-grants"
    description="In order to facilitate within Europe the exchange of trainees specialising in adult Endocrinology and to harmonise and improve the training of endocrinologists, the Section/Board of Endocrinology of the UEMS and Novo Nordisk A/S and Novartis have set up a fellowship program called '3E', the Exchange in Endocrinology Expertise."
    [files]="eeeGrantsFiles"
  ></uems-article>
  <uems-article
    id="uems-study"
    header="UEMS Study"
    subheader="Studies conducted by the UEMS section of Endocrinology"
    [files]="uemsStudyFiles"
  ></uems-article>
</aside>
