@import '../variables';

:host {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
#left-column, #right-column {
  height: 100%;
}
#left-column {
  flex: 2;
  padding: 12px;
  padding-left: 24px;
}
#right-column {
  flex: 1;
}

// Left Col
#about-uems {
  line-height: 1em;
  margin-bottom: 12px;
}
#about-section .article-header {
  margin-bottom: 0;
}
.subheader {
  display: block;
  font-size: 0.8em;
  margin-top: 1px;
  margin-bottom: 12px;
  color: rgba(0,0,0,0.76);
}
#groupPicture {
  height: 400px;
  display: block;
  background: url(../../assets/img/uems-group-pic-alternative.jpg) no-repeat center;
  background-size: contain;
  margin-bottom: 12px;
}
#about-section {
  margin-bottom: 12px;
}
#exec-committee {
  // TODO
}

#endocrinologyArticle {
  width: 50%;
}
