@import 'variables';

// todo: update styling when nav is locked open

sn-root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#layout-wrap {
  height: 100vh;
}

#uems-sidenav {
  min-width: 300px;
  background-color: #fafafa;
}
#uems-sidenav.desktop {
  box-shadow: none;
  border-right: 3px solid #2196f3;
}
#sidenavheader {
  height: 125px;
  padding: 12px 12px;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sidenavheader #logo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}

md-nav-list md-list-item [md-line] {
  overflow: hidden;
}

.navitem__icon {
  font-size: 35px;
}

.navitem__description {
  color: rgba(0,0,0,0.4);
}
