@import 'variables';

// todo: update styling when nav is locked open

sn-root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#layout-wrap {
  height: 100vh;
}

#uems-sidenav {
  min-width: 300px;
  background-color: #fafafa;
}
#uems-sidenav.desktop {
  box-shadow: none;
  border-right: 3px solid #2196f3;
}
#sidenavheader {
  height: 64px;
  background-color: #2196f3;
}

md-nav-list md-list-item [md-line] {
  overflow: hidden;
}

.navitem__icon {
  font-size: 35px;
}

.navitem__description {
  color: rgba(0,0,0,0.4);
}
